# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y compilación (Corregido con /)
node_modules/
dist/
dist-ssr/
.bolt/

# Archivos locales y entorno
.env
*.local

# Editores y Sistema Operativo
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

